{% extends "layout.html" %}
{% block information %}
<h1> Flights </h1>
{% for Flights in all_flights %}
<style>
table, th, td {
    border:1px solid rgb(0, 0, 0);
}
</style>
<table style="width:40%">
<tr>
    <th>Aeroplane id</th>
    <th>Flight id</th>
    <th>Departure date</th>
    <th>Arrival date</th>
    <th>Destination</th>
    <th>Direct Flight</th>
    <th>Budget</th>
</tr>
<tr>
    <td> {{ Flights.fk_aeroplane_id }} </td> 
    <td> {{Flights.flight_id}} </td> 
    <td> {{Flights.departure_date}} </td>
    <td> {{Flights.arrival_date}} </td>
    <td> {{Flights.arrival_destination}} </td>
    <td> {{Flights.direct_flight}} </td>
    <td> {{Flights.flight_price}} </td>
</tr>
</table>

  
<a href="{{ url_for('updateFlights',id=Flights.flight_id) }}"> update this flight </a> <br> 
<a href="{{ url_for('delete_flight',id=Flights.flight_id) }}"> delete this flight </a> <br>
{% endfor %}
{% endblock information %}

