

<html>
    <body>
    <h1>Welcome!</h1>
    {% block information %}
    {% endblock information %}
    
    
    <hr>
     
     <div class=navbar> 
        <a href="{{ url_for('home') }}"> Home </a>  <br>
        <a href="{{ url_for('create_aeroplane') }}"> create an aeroplane </a> <br>
        <a href="{{ url_for('create_flight') }}"> create a flight </a> <br>
        <a href="{{ url_for('AllFlights') }}">view flights </a> <br>
        <a href="{{ url_for('AllAeroplanes') }}">view aeroplanes </a> <br>
        
        
        
        
         
      
       
       
    </div><br> 
    
    

    </body>
    </html>